@model List<Product>
@using MensaApp.API.Filters

@{
    ViewData["Title"] = "Ürünler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home"><i class="fa-solid fa-house"></i> Ana Sayfa</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewBag.srch Aranan Kelime</li>
    </ol>
</nav>

<div class="container mb-5 pb-5">
    <div class="row">
        <h5 class="text-black-50">Bulunan Sonuçlar: (@ViewBag.count) sonuç bulundu</h5>
        @foreach (var item in Model)
        {
            <div class="card ms-3 mt-5" style="width: 18rem;">
                <div class="row">
                    <div class="card-img-top">
                        <a href="/product/@item.Id/@SEOLinks.ChangeLinks(item.Name.ToLower())">
                            <img src="~/thumbnail/@item.Thumbnail" class="card_img responsive" style="height:30vh;" alt="@item.Name">
                        </a>
                    </div>
                    <div class="card-body">
                        <h4 class="text-dark-50 pb-4"><a href="/product/@item.Id/@SEOLinks.ChangeLinks(item.Name.ToLower())" class="link_card">@item.Name</a></h4>
                        <div class="border"></div>
                        <p class="card-text" style="font-family: 'Work Sans', sans-serif;">@(item.Description.Length > 80 ? item.Description.Substring(0, item.Description.Substring(0, 85).LastIndexOf(" ")) + "..." : item.Description + "...")</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div style="display:none;">
    @await Component.InvokeAsync("ProductDetailCarousel")
</div>