<div class="col-xl-6 col-xxl-5 d-flex">
    <div class="w-100">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col mt-0">
                                <h5 class="card-title">Ürünler</h5>
                            </div>

                            <div class="col-auto">
                                <div class="stat text-primary">
                                    <i class="fa-solid fa-chair"></i>
                                </div>
                            </div>
                        </div>
                        <h1 class="mt-1 mb-3">@ViewBag.productCount</h1>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col mt-0">
                                <h5 class="card-title">Kategoriler</h5>
                            </div>

                            <div class="col-auto">
                                <div class="stat text-primary">
                                    <i class="fa-solid fa-shapes"></i>
                                </div>
                            </div>
                        </div>
                        <h1 class="mt-1 mb-3">@ViewBag.categoryCount</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col mt-0">
                                <h5 class="card-title">Alt Kategoriler</h5>
                            </div>

                            <div class="col-auto">
                                <div class="stat text-primary">
                                    <i class="fa-solid fa-cubes-stacked"></i>
                                </div>
                            </div>
                        </div>
                        <h1 class="mt-1 mb-3">@ViewBag.subCategoryCount</h1>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col mt-0">
                                <h5 class="card-title">Projeler</h5>
                            </div>

                            <div class="col-auto">
                                <div class="stat text-primary">
                                    <i class="fa-solid fa-business-time"></i>
                                </div>
                            </div>
                        </div>
                        <h1 class="mt-1 mb-3">@ViewBag.projectCount</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col mt-0">
                                <h5 class="card-title">Hava Durumu / İstanbul</h5>
                            </div>
                            <div class="col-auto">
                                <div class="stat text-primary">
                                    <i class="fa-solid fa-sun"></i>
                                </div>
                            </div>
                        </div>
                        <h1 class="mt-1 mb-3">@ViewBag.weather'C</h1>
                    </div>
                </div>               
            </div>
        </div>
    </div>
</div>